h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    margin-bottom: 0.4em;
    font-size: 80%; /* scale heading sizes globally */
}

p {
    margin: 0.4em 0;
    color: #545454;
    font-size: 0.8rem;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
    font-size: 0.8rem;
}

blockquote {
    font-style: italic;
    margin: 0.4em;
    font-size: 0.8rem;
}


